# Folders
data-science-lab/airflow/logs/**
.*env/

# Files
*.pyc
*.ipynb_checkpoints
*.pkl

kubeconfig.yaml

# Binary
k8s/k3s/k3s
k8s/k3d/k3d

# Secrets
*secrets*
!secrets.yaml
!01-secrets.yaml

*keys*
!keycloack

*creds*
*credentials*
